<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ticket</title>
    <style>
        body {
            background: url('{% static "images/welcome_back.jpg" %}') 50% 0 no-repeat fixed;
            width: 100%;
            height: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .full_block {
            width: 50%;
            left: 25%;
            top: 10%;
            /* height: 30vh; */
            position: relative;
            display: inline-block;
            text-align: center;
            background-color: rgba(128, 128, 128, 0.44);
            /* top: 30vh !important; */
            /* left: 30% !important; */
            border-radius: 2rem !important;
            overflow: hidden;
        }

        .nav-link {
            background-color: white;
            color: black;
            margin: 0 5px;
            border-radius: 5px;
            width: 80px;
        }
        .nav-link1 {
            background-color: white;
            color: black;
            margin: 100px;
            border-radius: 5px;
            width: 80px;
        }

        .form-group {
            text-align: left !important;
        }

        .form-group label {
            color: white;

        }

        /*
        form{
            margin-left:200px;
            margin-right:200px;
        }
        .required
        {
            color: red;
        } */
    </style>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>

    <div class="full_block">

        <div class="alert alert-danger container"
            style="background-color: rgba(128, 128, 128, 0) !important; border: none !important; color: white;"
            role="alert">
            <h1 style="text-align: center">Submit Ticket</h1>
            <label style="padding-left: 20px">{{ success_message }}</label>
        </div>

        <!--    <label style="padding-left: 20px">user is {{ email }}</label>-->

        <div class="alert alert-success container"
            style="text-align: center; background-color: rgba(128, 128, 128, 0) !important; position: relative;"
            role="alert">
            <a class="nav-link" href="{% url 'showtickets' %}" style="padding-left: 10px">Show Tickets</a>
<!--            <a class="nav-link" href="{% url 'support' %}" style="padding-left: 10px">Back</a>-->
        </div>

        <div class="container mb-5">

            <form action="" method="post">
                {% csrf_token %}
            <div class="form-group">
                <label >Department</label><span class="required"> *</span>
                <select class="form-control" name="department" >
                    <option>PeerXP General Support-7189000000010772</option>
                    <option>PWSLab DevOps-7189000000051431</option>
                    <option>PeerXP Sales Support-7189000000055952</option>
                    <option>PeerXP Technologies-7189000000060056</option>
                </select>
            </div>

                <div class="form-group">
                    <label>Category</label><span class="required"> *</span>
                    <select class="form-control" name="category">
                        <option>-None-</option>
                        <option>NEW Project CI/CD Pipeline Setup</option>
                        <option>Update CI/CD Pipeline Configuration</option>
                        <option>DevSecOps Pipeline Setup</option>
                        <option>CI/CD pipeline failure</option>
                        <option>Automated Deployment failure</option>
                        <option>Docker and Containers</option>
                    </select>
                </div>

                <div class="form-group">
                    <label>Subject</label><span class="required"> *</span>
                    <input type="text" class="form-control" name="subject">
                </div>

                <div class="form-group">
                    <label>Description</label><span class="required"> *</span>
                    <textarea class="form-control" rows="3" name="description"></textarea>
                </div>

                <h1 style="color: white;">Contact Details</h1>

                <div class="form-group">
                    <label>Contact Name</label><span class="required"> *</span>
                    <input type="text" class="form-control" name="contact_name">
                </div>

                <div class="form-group">
                    <label>Email address</label><span class="required"> *</span>
                    <input type="email" class="form-control" name="email" placeholder="name@example.com">
                </div>

                <div class="form-group">
                    <label>Phone</label>
                    <input type="text" class="form-control" name="phone">
                </div>

                <h1 style="color: white;">Additional Information</h1>

                <div class="form-group">
                    <label>Priority</label><span class="required"> *</span>
                    <select class="form-control" name="priority">
                        <option>-None-</option>
                        <option>High - Production System Down</option>
                        <option>Medium - System Impaired</option>
                        <option>Low - General Guidance</option>
                    </select>
                </div>
                <form>
                    <div class="form-group">
                        <label>Attach a file(Up to 20 MB )</label>
                        <input type="file" class="form-control-file" name="attach">
                    </div>
                    <button type="submit" class="btn btn-primary1 center">Submit</button>
<!--                    <a class="btn btn-primary" href="{% url 'addticket' %}" style="padding-left: 20px">Submit </a>-->
                    <a class="btn btn-primary" href="{% url 'support' %}" style="padding-left: 20px">Discard </a>
                </form>
            </form>



        </div>

    </div>

</body>
</html>






















<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Ticket</title>-->
<!--    <style>-->
<!--        form{-->
<!--            margin-left:200px;-->
<!--            margin-right:200px;-->
<!--        }-->
<!--        .required-->
<!--        {-->
<!--            color: red;-->
<!--        }-->
<!--    </style>-->

<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->

<!--</head>-->
<!--<body>-->



<!--    <div class="alert alert-danger container mt-5" role="alert">-->
<!--        <h1 style="text-align: center">Submit Ticket</h1>-->
<!--        <label style="padding-left: 20px">{{ email }}</label>-->
<!--    </div>-->

<!--&lt;!&ndash;    <label style="padding-left: 20px">user is {{ email }}</label>&ndash;&gt;-->

<!--    <div class="alert alert-success container" role="alert">-->
<!--      <a class="nav-link" href="{% url 'support' %}" style="padding-left: 850px">Back</a>-->
<!--    </div>-->

<!--    <div class="container mb-5">-->

<!--      <form action="" method="post">-->
<!--          {% csrf_token %}-->
<!--        <div class="form-group">-->
<!--            <label >Department</label><span class="required"> *</span>-->
<!--            <select class="form-control" name="department" >-->
<!--                <option>PeerXP General Support-7189000000010772</option>-->
<!--                <option>PWSLab DevOps-7189000000051431</option>-->
<!--                <option>PeerXP Sales Support-7189000000055952</option>-->
<!--                <option>PeerXP Technologies-7189000000060056</option>-->
<!--            </select>-->
<!--        </div>-->

<!--        <div class="form-group">-->
<!--            <label >Category</label><span class="required"> *</span>-->
<!--            <select class="form-control" name="category">-->
<!--                <option>-None-</option>-->
<!--                <option>NEW Project CI/CD Pipeline Setup</option>-->
<!--                <option>Update CI/CD Pipeline Configuration</option>-->
<!--                <option>DevSecOps Pipeline Setup</option>-->
<!--                <option>CI/CD pipeline failure</option>-->
<!--                <option>Automated Deployment failure</option>-->
<!--                <option>Docker and Containers</option>-->
<!--            </select>-->
<!--        </div>-->

<!--          <div class="form-group">-->
<!--            <label>Subject</label><span class="required"> *</span>-->
<!--            <input type="text" class="form-control" name="subject">-->
<!--          </div>-->

<!--        <div class="form-group">-->
<!--            <label>Description</label><span class="required"> *</span>-->
<!--            <textarea class="form-control" rows="3" name="description"></textarea>-->
<!--        </div>-->

<!--        <h1>Contact Details</h1>-->

<!--        <div class="form-group">-->
<!--            <label>Contact Name</label><span class="required"> *</span>-->
<!--            <input type="text" class="form-control" name="contact_name" >-->
<!--        </div>-->

<!--        <div class="form-group">-->
<!--            <label>Email address</label><span class="required"> *</span>-->
<!--            <input type="email" class="form-control" name="email"  placeholder="name@example.com">-->
<!--        </div>-->

<!--        <div class="form-group">-->
<!--            <label>Phone</label>-->
<!--            <input type="text" class="form-control" name="phone" >-->
<!--        </div>-->

<!--        <h1>Additional Information</h1>-->

<!--        <div class="form-group">-->
<!--            <label >Priority</label><span class="required"> *</span>-->
<!--            <select class="form-control" name="priority">-->
<!--                <option>-None-</option>-->
<!--                <option>High - Production System Down</option>-->
<!--                <option>Medium - System Impaired</option>-->
<!--                <option>Low - General Guidance</option>-->
<!--            </select>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label>Attach a file(Up to 20 MB )</label>-->
<!--            <input type="file" class="form-control-file" name="attach">-->
<!--        </div>-->
<!--        <button type="submit" class="btn btn-primary1 center" >Submit</button>-->
<!--&lt;!&ndash;        <a class="btn btn-primary" href="{% url 'showtickets' %}" style="padding-left: 20px">Submit </a>&ndash;&gt;-->
<!--        <a class="btn btn-primary" href="{% url 'support' %}" style="padding-left: 20px">Discard </a>-->
<!--&lt;!&ndash;        <form>&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="form-group">&ndash;&gt;-->
<!--&lt;!&ndash;                <label>Attach a file(Up to 20 MB )</label>&ndash;&gt;-->
<!--&lt;!&ndash;                <input type="file" class="form-control-file" name="attach">&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;            <button type="submit" class="btn btn-primary1 center" >Submit</button>&ndash;&gt;-->
<!--&lt;!&ndash;            <a class="btn btn-primary" href="{% url 'support' %}" style="padding-left: 20px">Discard </a>&ndash;&gt;-->
<!--&lt;!&ndash;        </form>&ndash;&gt;-->
<!--      </form>-->



<!--    </div>-->

<!--</body>-->
<!--</html>-->