<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
      background: url('{% static "images/welcome_back.jpg" %}') 50% 0 no-repeat fixed;
      width: 100%;
      height: 100vh;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    </style>


</head>
<body>
<div class="alert alert-danger container mt-5" role="alert">
<!--       <label style="padding-left: 20px">{{ success_message }}</label>-->
<!--       <label style="padding-left: 20px">{{ description }}</label>-->
<!--       <label style="padding-left: 20px">{{ ticket_ID }}</label>-->
<!--       <label style="padding-left: 20px">{{ ticket_ID }}</label>-->
</div>
</body>
</html>









<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>All Tickets</title>-->
<!--</head>-->
<!--<body>-->

<!--<div class="alert alert-danger container mt-5" role="alert">-->
<!--&lt;!&ndash;       <label style="padding-left: 20px">{{ subject }}</label>&ndash;&gt;-->
<!--&lt;!&ndash;       <label style="padding-left: 20px">{{ description }}</label>&ndash;&gt;-->
<!--&lt;!&ndash;       <label style="padding-left: 20px">{{ ticket_ID }}</label>&ndash;&gt;-->
<!--&lt;!&ndash;       <label style="padding-left: 20px">{{ ticket_ID }}</label>&ndash;&gt;-->
<!--</div>-->

<!--</body>-->
<!--</html>-->